#haha {
    color: brown;
    background: #ceffc2;
}

.flex_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.flex_around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex_evenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}